@import './variables/global.scss';
@import './themes/dark.scss';
@import './themes/light.scss';
@import './reset.css';
@import './themes/orange.scss';

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: 20px 20px 20px 45px;
  flex-shrink: 100;
  height: calc(100vh - var(--navbar-height));
  flex-grow: 1;
  overflow-y: auto;
}
