.app.dark {
  --bg-color: #03032c;
  --inverted-bg-color: #d8d8df;

  --primary-color: #04ff04;
  --secondary-color: #054505;

  --inverted-primary-color: #0c087b;
  --inverted-secondary-color: #0c42f2;
}
