.app.light {
  --bg-color: #d8d8df;
  --inverted-bg-color: #03032c;

  --primary-color: #0c087b;
  --secondary-color: #0f3cd0;

  --inverted-primary-color: #098409;
  --inverted-secondary-color: #04ff04;
}
